:root {
  // accent
  --color-accent-50: #BFE1FC;
  --color-accent-100: #A4D4FA;
  --color-accent-200: #8DC9F9;
  --color-accent-300: #71BCF7;
  --color-accent-400: #4DABF5;
  --color-accent-500: #2196F3;
  --color-accent-600: #1A78C2;
  --color-accent-700: #15609B;
  --color-accent-800: #114D7C;
  --color-accent-900: #0E3E63;
  
  // danger
  --color-danger-50: #FCDCBF;
  --color-danger-100: #FACDA4;
  --color-danger-200: #F9C18D;
  --color-danger-300: #F7B171;
  --color-danger-400: #F59E4E;
  --color-danger-500: #F28622;
  --color-danger-600: #C26B1B;
  --color-danger-700: #9B5616;
  --color-danger-800: #7C4512;
  --color-danger-900: #63370E;
  
  // error
  --color-error-50: #FCBFD1;
  --color-error-100: #FAA4BD;
  --color-error-200: #F98DAD;
  --color-error-300: #F77199;
  --color-error-400: #F54E80;
  --color-error-500: #F22260;
  --color-error-600: #A91843;
  --color-error-700: #76112F;
  --color-error-800: #530C21;
  --color-error-900: #3A0817;
  
  
  // green
  --color-green-50: #BFFCDF;
  --color-green-100: #A4FAD1;
  --color-green-200: #8DF9C5;
  --color-green-300: #71F7B7;
  --color-green-400: #4EF5A5;
  --color-green-500: #22F28E;
  --color-green-600: #1BC272;
  --color-green-700: #169B5B;
  --color-green-800: #127C49;
  --color-green-900: #0E633A;
  
  
  // gray
  --color-gray-50: #F4F4F4;
  --color-gray-100: #E4E4E4;
  --color-gray-200: #DDDDDD;
  --color-gray-300: #D5D5D5;
  --color-gray-400: #CACACA;
  --color-gray-500: #BDBDBD;
  --color-gray-600: #848484;
  --color-gray-700: #5C5C5C;
  --color-gray-800: #404040;
  --color-gray-900: #2D2D2D;
  
  
  // light
  --color-light-500: #FFFFFF;
  
  // dark
  --color-dark-500: #212121;
}
